body {
  --colour-1: #25274D;
  --colour-2: #464866;
  --colour-3: #AAABB8;
  --colour-4: #2E9CCA;
  --colour-5: #29648A;

  background-color: var(--colour-1);
  color: var(--colour-3);
  display: grid;
  margin: 0;
  font-family: 'Sono', sans-serif;
  overflow-x: hidden;
}

header {
  position: relative;
  z-index: 2;
}

header div h1 {
  font-size: 5vw;
  margin: 0;
  padding: 1%;
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
}

#navbar {
  width: 100%;
  height: 32px;
  background-color: var(--colour-4);
  display: flex;
  align-content: center;
}

#navbar div:nth-child(1){
  margin-left: 50px;
  border-left: 1px solid black;
}

#navbar ul {
  margin: 0;
  padding: 0;
  border: 1px solid black; 
  border-left: none;  
  width: max-content;
  overflow: hidden;
  transition: max-height 0.5s, scale 2s, background-color 0.5s, color 0.5s;
  
  max-height: 30px;
  
}

#navbar ul li {
  color: var(--colour-1);
  font-size: 15px;
  padding: 5px;
  list-style-type: none;
  margin: 0px;
  cursor: pointer;
  height: 30px;

  transition: 0.5s;
}

#navbar ul li:hover{
  text-shadow: 0 0 10px white;
  filter: drop-shadow(0 0 10px white);
}

#navbar ul:hover{
  background-color: black;
  max-height: 500px;
  color: var(--colour-3);
}

#navbar ul:hover li{
  color: var(--colour-3);
}

@media screen and (max-width: 500px) {
  header h1 {
    font-size: 8vw;
  }

  #navbar ul li {
    font-size: 4vw;
  }
}

#sidebar {
  position: fixed;
  display: grid;
  grid-template-columns: 90% 10%;
  z-index: 5;
  inset: 0 90% 0 0;
  transition: 0.5s;
  transition-timing-function: cubic-bezier(.73,.03,.53,.98);
}

#sidebar span{
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgb(45, 45, 182), rgb(78, 78, 236));
}

#sidebar span img{
  align-self: center;
  width: 100%;
  height: 20%;
  pointer-events: none;
}

#sidebar span:hover{
  background: linear-gradient(to right, rgb(45, 45, 182), rgb(110, 110, 248));
}

#sidebar div{
  grid-column: 1/2;
  background-color: rgb(45, 45, 182);
}

#sidebar div .ion-icon{
  width: 100%;
  height: 5%;
}

#sidebar div p{
  position: relative;
  text-align: center;
  background: linear-gradient(to right, rgb(48, 48, 136), rgb(45, 45, 182));
  font-size: 2vw;
  padding: 20px 0;
  margin: 0px;
  z-index: 2;
  transition: 0.5s;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  #sidebar div p{
      font-size: 3vw;
  }

  #sidebar {
      grid-template-columns: 80% 20%;
  }
}

#sidebar div p:hover{
  color: rgb(48, 48, 136);
  text-shadow: 0px 0px 20px white, 0px 0px 30px white;
}

#sidebar div p::before{
  content: '';
  position: absolute;
  inset: 0 100% 0 0;
  transition: 0.5s;
  z-index: -1;

  background: linear-gradient(to right, rgb(27, 27, 97), rgb(45, 45, 182));
}

#sidebar div p:hover::before{
  inset: 0;
}







#expandable-div-container {
  display: flex;
  flex-wrap: wrap;
}

.expandable-div {
  overflow: hidden;
  transition: 1s;
  background-color: var(--colour-5);
  width: auto;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid black;

  max-height: 90px;
}

.expandable-div h1{
  text-align: center;
  margin: auto;
  margin-left: 5px;
}




.expandable-div>:nth-child(2) >:nth-child(2){
  background: linear-gradient(to right, red, yellow, green, pink, blue, purple, orange, red);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 50%;

  animation: colourful-word 8s linear infinite;
}

@keyframes colourful-word {
  from {
      background-position: 0% center;
  }
  to {
      background-position: -200% center;
  }
}






.expandable-div .wave-div {
  display: flex;
}

.expandable-div .wave-div :nth-child(1) {
  animation: wave 1s ease-in-out 0ms infinite alternate;
}

.expandable-div .wave-div :nth-child(2) {
  animation: wave 1s ease-in-out 100ms infinite alternate;
}

.expandable-div .wave-div :nth-child(3) {
  animation: wave 1s ease-in-out 200ms infinite alternate;
}

.expandable-div .wave-div :nth-child(4) {
  animation: wave 1s ease-in-out 300ms infinite alternate;
}

.expandable-div .wave-div :nth-child(5) {
  animation: wave 1s ease-in-out 400ms infinite alternate;
}

.expandable-div .wave-div :nth-child(6) {
  animation: wave 1s ease-in-out 500ms infinite alternate;
}

.expandable-div .wave-div :nth-child(7) {
  animation: wave 1s ease-in-out 600ms infinite alternate;
}

.expandable-div .wave-div :nth-child(8) {
  animation: wave 1s ease-in-out 700ms infinite alternate;
}

.expandable-div .wave-div :nth-child(9) {
  animation: wave 1s ease-in-out 800ms infinite alternate;
}

.expandable-div .wave-div :nth-child(10) {
  animation: wave 1s ease-in-out 900ms infinite alternate;
}

.expandable-div .wave-div :nth-child(11) {
  animation: wave 1s ease-in-out 1000ms infinite alternate;
}

@keyframes wave {
  from {
      transform: translateY(0px);
  }
  to {
      transform: translateY(-20px);
  }
}






.expandable-div div:nth-child(1){
  display: flex;
}

.expandable-div img{
  transition: 0.5s;
  transition-timing-function: ease-in-out;
  margin: 10px;
  padding: 5px;
  
  
  width: 15%;
  
  align-self: center;

  border: 1px black solid;
  border-radius: 50%;
}

.expandable-div img:hover{
  scale: 1.1;
}

.arrow-down {
  transform: rotate(90deg);
  background-color: var(--colour-4);
}






#neon-form {
  --neon-colour: blueviolet;

  border: 1px var(--neon-colour) solid;
  margin: 50px auto;
  width: 80%;
  box-shadow: 0px 0px 10px 5px var(--neon-colour), 0px 0px 100px 5px var(--neon-colour);

  display: grid;
  grid-template-rows: auto auto auto;
}

#neon-form div{
  margin: 10px auto 10px auto;
  display: flex;
}

@keyframes neon-flicker {
  10%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100%, 40%, 45.999%{
      box-shadow: 0px 0px 10px 5px var(--neon-colour), 0px 0px 100px 5px var(--neon-colour);
      opacity: 1;
  }
  19%, 21.999%, 63%, 63.999%, 65%, 69.999% {
      box-shadow: none;
      opacity: 0.4;
  }
}

#neon-form div input[type="radio"]{
  position: relative;
  width: 40px;
  height: 40px;
  appearance: none;
  border: 2px var(--neon-colour) solid;
  border-radius: 50%;
  opacity: 0.4;
}

#neon-form div input[type="radio"]:nth-child(1){
  --neon-colour: lime;
}

#neon-form div input[type="radio"]:checked{
  border: 3px var(--neon-colour) solid;
  animation: neon-flicker 2s linear infinite;
}

#neon-form div input[type="radio"]:checked::before{
  display: inline-block;
  content: '';
  inset: 25%;
  border-radius: 50%;
  background-color: var(--neon-colour);
  position: absolute;

  box-shadow: 0px 0px 10px 5px var(--neon-colour);
}

#neon-form div input[type="checkbox"]{
  position: relative;
  width: 40px;
  height: 40px;
  appearance: none;
  border: 2px var(--neon-colour) solid;
  opacity: 0.4;
}

#neon-form div input[type="checkbox"]:nth-child(1){
  --neon-colour: red;
}

#neon-form div input[type="checkbox"]:nth-child(3){
  --neon-colour: purple;
}

#neon-form div input[type="checkbox"]:checked{
  border: 3px var(--neon-colour) solid;
  animation: neon-flicker 3s linear infinite;
}

#neon-form div input[type="checkbox"]:checked::before{
  display: inline-block;
  content: '';
  inset: 25%;
  background-color: var(--neon-colour);
  position: absolute;
  
  box-shadow: 0px 0px 10px 5px var(--neon-colour);
}

#neon-form div:nth-child(3){
  margin: auto;
  display: flex;
  flex-direction: column;
}

#neon-form div input[type="range"]{
  appearance: none;
  border: 1px var(--neon-colour) solid;
  background-color: var(--neon-colour);
  box-shadow: 0px 0px 10px 3px var(--neon-colour);
  accent-color: var(--neon-colour);
  height: 1px;
  width: 50vw;

  margin: 10px;
}

#neon-form div input[type="range"]:nth-child(2){
  --neon-colour: green;
}

#neon-form div input[type="range"]::-moz-range-thumb {
  border: 1px solid var(--neon-colour);
  background-color: var(--neon-colour);
  box-shadow: 0px 0px 10px 4px var(--neon-colour), 0px 0px 100px 5px var(--neon-colour);
}

#neon-form div:nth-child(3){
  margin: auto;
  display: flex;
  flex-direction: column;
}

#flashing-div {
  position: relative;
  width: 50%;
  height: 400px;

  margin: 20px auto;
  overflow: hidden;
}

#flashing-div ::before{
  content: '';
  position: absolute;

  top: -30%;
  left: -40%;
  width: 90%;
  height: 80%;

  transform-origin: bottom right;
  z-index: -1;

  background-image: linear-gradient(transparent 60%, rgb(230 230 230));
  

  animation: 4s infinite linear spin;
}

#flashing-div ::after{
  content: '';
  position: absolute;

  top: -30%;
  left: -40%;
  width: 90%;
  height: 80%;

  transform-origin: bottom right;
  z-index: -1;

  background-image: linear-gradient(transparent 60%, rgb(230 230 230));
  

  animation: 4s infinite linear spin2;
}

#flashing-div div{

  position: absolute;
  top: 1px;
  left: 1px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);

  background-color: var(--colour-1);
}

@keyframes spin {
  from {
      transform:rotate(360deg);
  }
  to {
      transform:rotate(0deg);
  }
}

@keyframes spin2 {
  from {
      transform:rotate(180deg);
  }
  to {
      transform:rotate(-180deg);
  }
}

#animated-button-div {
  display: grid;
}

#animated-button-div button{
  all: unset;
  margin: auto;
  color: var(--colour-1);
  
  position: relative;
  text-align: center;
  width: 50%;
  height: 40%;
  border-radius: 40px;
  overflow: hidden;
  cursor: pointer;
  background-image: linear-gradient(to right, var(--colour-4), var(--colour-5));
}

#animated-button-div .animated-bubble{
  position: absolute;
  pointer-events: none;
  background-color: var(--colour-1);
  border-radius: 50%;
  
  /* height: 50px; */
  aspect-ratio: 1;
  z-index: 2;
  
  transform: translate(-50%, -50%);

  animation: bubble-expand 1s cubic-bezier(.72,.17,.37,.98) infinite;
}

#animated-button-div .animated-bubble::before{
  display: none;
}

#animated-button-div .animated-bubble::after{
  display: none;
}

@keyframes bubble-expand {
  from {
      height: 0px;
      width: 0px;
      opacity: 0.8;
  }
  to {
      height: 400px;
      width: 400px;
      opacity: 0;
  }
}



#radial-menu {
  margin: auto;
  position: relative;
  width: 50vw;
  aspect-ratio:  1 / 1.153;
  /* border: 1px blue solid; */
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

#radial-menu .triangle {
  fill: var(--colour-2);
  stroke: black;
  stroke-width: 1;
  position: absolute;
  top: -7%;
  right: 22%;
  transform-origin: bottom;

  transition: 1s;
  pointer-events: none;
}

#radial-menu polygon{
pointer-events: all;
}

#radial-menu .triangle:hover{
  scale: 1.1;
  filter: drop-shadow(0 0 20px rgb(0 0 0 / 0.6));
  z-index: 2;
}


#radial-menu .triangle:nth-of-type(1){
  transform: rotate(30deg);
  translate: -8% 16%;
}

#radial-menu .triangle:nth-of-type(2){
  transform: rotate(90deg);
  translate: -15% 5%;
}

#radial-menu .triangle:nth-of-type(3){
  transform: rotate(150deg);
  translate: -8% -6%;
}

#radial-menu .triangle:nth-of-type(4){
  transform: rotate(-150deg);
  translate: 6% -6%;
}

#radial-menu .triangle:nth-of-type(5){
  transform: rotate(-90deg);
  translate: 13% 5%;
}

#radial-menu .triangle:nth-of-type(6){
  transform: rotate(-30deg);
  translate: 6% 16%;
}


#radial-menu .ion-icon {
  z-index: 3;
  color: black;
  width: 70%;
  height: 70%;
  font-size: 4vw;
  margin: auto;
  pointer-events: none;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));

  transition: 1s;
}

#radial-menu :nth-child(7){
  grid-column: 3/4;
  grid-row: 2/3;
}

#radial-menu .triangle:nth-of-type(1):hover ~ :nth-child(7) {
  scale: 1.1;
}

#radial-menu :nth-child(8){
  grid-column: 4/5;
  grid-row: 3/4;
  transform: translateX(-50%);
  transform-origin: left;
}

#radial-menu .triangle:nth-of-type(2):hover ~ :nth-child(8) {
  scale: 1.1;
}

#radial-menu :nth-child(9){
  grid-column: 3/4;
  grid-row: 4/5;
}

#radial-menu .triangle:nth-of-type(3):hover ~ :nth-child(9) {
  scale: 1.1;
}

#radial-menu :nth-child(10){
  grid-column: 2/3;
  grid-row: 4/5;
}

#radial-menu .triangle:nth-of-type(4):hover ~ :nth-child(10) {
  scale: 1.1;
}

#radial-menu :nth-child(11){
  grid-column: 1/2;
  grid-row: 3/4;
  transform: translateX(50%);
  transform-origin: right;
}

#radial-menu .triangle:nth-of-type(5):hover ~ :nth-child(11) {
  scale: 1.1;
}

#radial-menu :nth-child(12){
  grid-column: 2/3;
  grid-row: 2/3;
}

#radial-menu .triangle:nth-of-type(6):hover ~ :nth-child(12) {
  scale: 1.1;
}

#radial-menu .triangle-is-selected {
  fill: var(--colour-4);
  stroke: white;
  stroke-width: 4px;
  scale: 1.1;
  filter: drop-shadow(0 0 20px white);
  z-index: 4;

  transition: 1s;
}

#radial-menu .triangle-is-selected:hover{
  filter: drop-shadow(0 0 20px white);
  z-index: 4;
}

#radial-menu .icon-is-selected {
  color: white;
  fill: white;
  filter: drop-shadow(0 0 10px white);
  scale: 1.1;
  z-index: 4;
}











#image-carousel-div {
  position: relative;
  z-index: 3;
  margin: 20px auto;
  border: 1px var(--colour-4) solid;
  width: 90%;
  height: 50vh;

  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
}

#image-carousel-div div{
  display: flex;
}

#image-carousel-div .displayed-image {
  grid-column: 2/3;
  max-width: 100%;
  max-height: 50vh;

  margin: auto;

  transition: 0.5s, scale 1s;
}

#image-carousel-div .displayed-image:hover {
  scale: 1.5;
}

#image-carousel-div button{
  grid-column: 3/4;
  margin: auto;
  border: none;
  background-color: transparent;
  width: 50px;
  height: 50px;

  background-image: url(arrow-redo-outline.svg);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center -2px;
  transition: 0.7s;
}

#image-carousel-div button:nth-child(1){
  grid-column: 1/2;
  background-image: url(arrow-undo-outline.svg);
}

#image-carousel-div button:hover{
  scale: 1.2;
}





#sliding-elements-div {
  border: 1px blue solid;
  overflow: hidden;
  margin: 20px auto;
  width: 80%;

  display: grid;
  grid-template-columns: 1fr 20fr 3fr 20fr 1fr;
  grid-template-rows: auto auto auto;
}

#sliding-elements-div img {
  width: 30vw;
}

#sliding-elements-div div {
  margin: 20px auto;
  text-align: center;
}

#sliding-elements-div div p{
  margin: 30px auto;
  font-size: 3vw;
}



#sliding-elements-div div:nth-of-type(1){
  grid-column: 2/4;
}

#sliding-elements-div >:nth-child(1):before{
  content: 'Frederic Leighton - 1863';

  border: 1px solid var(--colour-5);
  opacity: 0;
  z-index: 3;
  color: black;
  text-align: center;
  font-size: 1.5vw;
  position: absolute;
  right: -5.7vw;
  top: 0;
  width: 10vw;
  height: 5vw;
  background-color: var(--colour-4);
  transition: 0.5s;
}

#sliding-elements-div >:nth-child(1):hover::before{
  opacity: 1;
}

#sliding-elements-div div:nth-of-type(1) img{
  position: relative;
  box-shadow: -2vw 2vw  10px var(--colour-3);
  overflow: visible;
}

#sliding-elements-div div:nth-of-type(2){
  grid-column: 3/5;
}

#sliding-elements-div >:nth-child(2)::before{
  content: 'Théodore Géricault - 1814';

  border: 1px solid var(--colour-5);
  opacity: 0;
  z-index: 3;
  color: black;
  text-align: center;
  font-size: 1.5vw;
  position: absolute;
  left: -5.7vw;
  top: 0;
  width: 10vw;
  height: 5vw;
  background-color: var(--colour-4);
  transition: 0.5s;
}

#sliding-elements-div >:nth-child(2):hover::before{
  opacity: 1;
}

#sliding-elements-div div:nth-of-type(2) img{
  box-shadow: 2vw 2vw 10px var(--colour-3);
}

.scroll-slides-in-left{
  opacity: 0;
  transform: translateX(-50%);
  transition: 1s;
}

.scroll-slides-in-right{
  opacity: 0;
  transform: translateX(50%);
  transition: 1s;
}

.scroll-slides-in-shown {
  opacity: 1;
  transform: translateX(0px);
}

#big-sliding-icons-div {
  display: flex;
  margin: auto;
  grid-row: 3/4;
  grid-column: 1/5;
}

#big-sliding-icons-div .ion-icon{
  width: 5vw;
  color: black;
}

#big-sliding-icons-div >:nth-child(1){
  transition-delay: 100ms;
}

#big-sliding-icons-div >:nth-child(2){
  transition-delay: 200ms;
}

#big-sliding-icons-div >:nth-child(3){
  transition-delay: 300ms;
}

#big-sliding-icons-div div p{
  text-align: center;
  font-size: 2vw;
}













#blob-header {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: var(--colour-5);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#blob-header a {
  position: relative;
  color: var(--colour-4);
  z-index: 3;
  margin: auto;
  cursor: pointer;
  
  transition: 0.5s;
}

#blob-header a:hover {
  filter: drop-shadow(0 0 5px var(--colour-4));
  text-decoration:solid;
  scale: 1.3;
}

#blob-header a::before{
  content: "";
  background-color: var(--colour-4);
  width: 0%;
  transition: 0.5s;
  position: absolute;
  bottom: -3px;
  height: 3px;
}

#blob-header a:hover::before{
  width: 100%;
}

#header-blob {
  --blob-position-X: 0px;
  --blob-position-Y: 50px;
  position: absolute;
  width: 100px;

  z-index: 2;
  bottom: 0px;
  overflow: hidden;
  transition: 0.1s;

  left: var(--blob-position-X);
  height: var(--blob-position-Y);
}

#second-lower-navbar {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: var(--colour-5);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}












#addable-stuff-div {
  position: relative;
  width: 50%;
  height: 80vh;
  z-index: 1;
  
  border: 1px solid var(--colour-4);
  margin: 20px auto;

  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}

@media screen and (max-width: 900px) {
  #addable-stuff-div {
    width: 90%;
  }
  
}


#addable-stuff-div >:nth-child(1){
  position: sticky;

  top: 0;
  z-index: 2;

  width: 100%;

  display: flex;
  border: 1px red solid;
  padding: 10px;
  margin-bottom: 30px;
  background-color: var(--colour-2);

  /* overflow-x: hidden; */

}

#addable-stuff-div >:nth-child(1) input{
  all: unset;

  color: black;
  border: 1px solid black;
  border-radius: 5px;
  padding-left: 4px;
}

#addable-stuff-div >:nth-child(1) input:focus{
  box-shadow: inset 0 0 5px 1px rgb(255 255 255 / 0.4);
}

#addable-stuff-div >:nth-child(1) button{
  position: relative;
  aspect-ratio: 1;
  height: 130%;
  color: black;
  background-color: var(--colour-5);
  align-self: center;

  border: outset 1px grey;
  margin: 1px 20px 1px auto;
}

#addable-stuff-div >:nth-child(1) button svg{
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#addable-stuff-div >:nth-child(1) button:active{
  position: relative;
  bottom: 1px;
  right: 1px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}












.thing-to-add {
  --color-of-thing: DodgerBlue;

  position: relative;
  align-self: center;
  margin: 10px 0;

  width: 70%;
  height: 40px;
  z-index: 1;

  /* border: 1px solid green; */

  display: grid;
  grid-template-columns: auto 20px;

  transition: 0.5s;

  overflow: visible;
}

@media screen and (max-width: 450px) {
  .thing-to-add {
    width: 60%;
  }
  
}

.thing-to-add-fade-in {
  animation: thing-to-add-fade-in 0.5s;
}

@keyframes thing-to-add-fade-in {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.thing-to-add >:nth-child(1){
  /* --color-of-thing: blue; */

  box-shadow: -3px 7px 0px 2px #15162b;
  width: 100%;
  height: 100%;

  background-color: var(--color-of-thing);
  border-radius: 20px 0px 0px 20px;

  transition: background-color 1s;
}

.thing-to-add input{
  all: unset;

  border: 1px black solid;
  padding-left: 5px;
  color: black;
  background-color: var(--color-of-thing);
  margin: 9px 10px;
  width: 80%;

  border-radius: 5px;
  transition: background-color 1s;
}

.thing-to-add input:focus{
  box-shadow: inset 0 0 5px 1px rgb(255 255 255 / 0.7);
}

.thing-to-add >:nth-child(1):hover +:nth-child(2){
  transform: translateX(0px);
}

.thing-to-add>:nth-child(2):hover {
  transform: translateX(0px);
}



.thing-to-add>:nth-child(2) {
  position: relative;
  background-color: var(--color-of-thing);

  height: 40px;
  width: 20px;
  transform: translateX(-20px);
  z-index: -1;
  box-shadow: -3px 7px 0px 2px #15162b;
  
  display: grid;
  grid-template-rows: 1fr 1fr;

  transition: 0.2s;
  overflow: visible;
}

.thing-to-add button {
  all: unset;

  background-color: red;
  grid-row: 1/2;
  
  padding: 0;
  margin: 0;
  width: 100%;
  height: 90%;

  transition: 0.3s;
}

.thing-to-add button svg{
  width: 100%;
}

.thing-to-add button:hover {
  background-color: rgb(187, 30, 30);
}

.thing-to-add button:focus {
  background-color: rgb(50 0 0);
}




.thing-to-add .pallet-div {
  display: grid;
  grid-template-columns: 20px 20px 20px 20px;
  grid-template-rows: 20px 20px 20px 20px;
  overflow: hidden;

  background-color: var(--color-of-thing);

  position: absolute;
  top: 20px;
  left: 0;
  width: 20px;
  height: 20px;
  
  transition: 0.1s, background-color 1s;
}

.thing-to-add .pallet-div svg{
  width: 20px;
}

.thing-to-add .pallet-div:hover {
  width: 80px;
  height: 80px;
}

.thing-to-add .pallet-div .pallet-option {
  width: 20px;
  height: 20px;
}

.thing-to-add .pallet-div .pallet-option:nth-of-type(1){
  background-color: red;
}

.thing-to-add .pallet-div .pallet-option:nth-of-type(2){
  background-color: orange;
}

.thing-to-add .pallet-div .pallet-option:nth-of-type(3){
  background-color: yellow;
}

.thing-to-add .pallet-div .pallet-option:nth-of-type(4){
  background-color: green;
}

.thing-to-add .pallet-div .pallet-option:nth-of-type(5){
  background-color: blue;
}

.thing-to-add .pallet-div .pallet-option:nth-of-type(6){
  background-color: indigo;
}

.thing-to-add .pallet-div .pallet-option:nth-of-type(7){
  background-color: dodgerblue;
}

.thing-to-add .pallet-div .pallet-option:nth-of-type(8){
  background-color: purple;
}

.thing-to-add .pallet-div .pallet-option:nth-of-type(9){
  background-color: deeppink;
}

.thing-to-add .pallet-div .pallet-option:nth-of-type(10){
  background-color: silver;
}

.thing-to-add .pallet-div .pallet-option:nth-of-type(11){
  background-color: gold;
}

.thing-to-add .pallet-div .pallet-option:nth-of-type(12){
  background-color: seagreen;
}

.thing-to-add .pallet-div .pallet-option:nth-of-type(13){
  background-color: brown;
}

.thing-to-add .pallet-div .pallet-option:nth-of-type(14){
  background-color: grey;
}

.thing-to-add .pallet-div .pallet-option:nth-of-type(15){
  background-color: white;
}
